body {
	font-family: helvetica;
	color: #222;
	background-color: #F0EAD6
}
#Book {
	font-family: Impact, sans-serif;
	color: #003200;
}
#content {
	color: orange
}
#nav {
	font-family: Impact, sans-serif;
	color: pink
}
#aboutme {
background-image: url('bg.jpg');
background-repeat: repeat;
}